h1{

font-size:35px; margin-left:10%;

}

.subtitle{
	margin-bottom: 10%;
	margin-left:10%;
}

.headerSing{
margin-top:15%;
}

.inputform{

margin-left:10%; width:80%


}

ion-button{

width:70%; margin-left:15%
}