

<ion-content>




  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="6" size-lg="6">
        <br>
        <ion-grid classs="ionCart">

          <ion-grid text-align="center">

            <ion-text color="danger">
              <h1 >SignUp</h1>
            </ion-text>

            <ion-text color="dark">
              <p class="subtitle">Signup to join</p>
            </ion-text><br>

          </ion-grid>

          <ion-grid class="ion-text-center">
            <ion-grid>





                <ion-item class="inputform">
                  <ion-label color="dark" position="floating">First Name</ion-label>
                  <ion-input  type="text"></ion-input>
                </ion-item>
                <br>

                <ion-item class="inputform">
                  <ion-label color="dark" position="floating">Last name</ion-label>
                  <ion-input  type="text"></ion-input>
                </ion-item>




                <ion-item class="inputform">
                  <ion-label color="dark" position="floating">Email</ion-label>
                  <ion-input  type="email"></ion-input>
                </ion-item>
                <br>

                <ion-item class="inputform">
                  <ion-label color="dark" position="floating">Contact Number</ion-label>
                  <ion-input  type="tel"></ion-input>
                </ion-item>
                <br>

                <ion-item class="inputform">
                  <ion-label color="dark" position="floating">Password</ion-label>
                  <ion-input  type="password"></ion-input>
                </ion-item>
                <br>

                <ion-item class="inputform">
                  <ion-label color="dark" position="floating"> Confirm Password</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item>
                <br><br>

                <ion-button (click)="SignUpP()" fill="outline" shape="round"
                  position="floating" expand="block" color="danger">Signup

                </ion-button>


            </ion-grid>

            <ion-text color="dark">
              <p>Already have an account? <a  href="../patient/sign-in"> SignIn</a>

              </p>

            </ion-text>

          </ion-grid>

        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>








</ion-content>
