
<ion-content [fullscreen]="true">



  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="6" size-lg="6">

        <ion-grid classs="ionCart" >
          <ion-grid>



          </ion-grid>

          <ion-grid text-align="center">

          </ion-grid>

          <ion-grid class="ion-text-center" >
            <ion-grid >
              <ion-row >

                <ion-img  src="../../assets/icon/Untitled-3.png">
                </ion-img>
              </ion-row>


              <ion-row>
                <ion-col size="4">
                  <ion-text color="danger" class="ion-text-right">
                    <p >IN </p>
                  </ion-text>
                </ion-col>

                <ion-col>
                  <ion-text color="light" class="ion-text-left">
                    <p >HEALTH</p>
                  </ion-text>
                </ion-col>

              </ion-row>
              <ion-text color="light">
                <p style=" font-size:12px; ">MEDICAL EFFICENCY AT ITS BEST</p>
              </ion-text><br>

            </ion-grid>



            <ion-button  routerLink="../doctor/sig-in"  fill="outline" shape="round"
              position="floating" expand="block" color="danger">Doctor</ion-button><br>
            <ion-button routerLink="../patient/sign-in"  fill="outline" shape="round"
              position="floating" expand="block" color="light"> Patient</ion-button>
            <!--            <ion-button  routerLink="../signup" fill="outline" shape="round" position="floating" expand="block" color="light"> Patient</ion-button>
    -->
            <ion-text color="light">
              <p style=" font-size:12px; ">I understand and agree to the Private <br>
                Policy and terms of service
              </p>
            </ion-text>

          </ion-grid>

        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>











</ion-content>
